:root {
  --crow-color-resolution-blue: #2e3b6a;
  --crow-color-vivid-cerulean: #009adc;
  --crow-color-beer: #f7931e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: var(--crow-color-resolution-blue);
}

body {
  font-family: system-ui, ui-sans-serif, sans-serif;
  background: linear-gradient(
    0deg,
    var(--crow-color-vivid-cerulean) 0%,
    var(--crow-color-resolution-blue) 100%
  );
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#root {
  width: 100%;
  padding: 1em 0 2em;
}

.container {
  max-width: 600px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

h1 {
  color: white;
  /* margin-bottom: 30px; */
  font-size: 2.5rem;
}

.error {
  color: #ff6b6b;
  background: rgba(255, 255, 255, 0.1);
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 20px;
  font-weight: 500;
}

button {
  background: var(--crow-color-vivid-cerulean);
  color: white;
  border: none;
  padding: 12px 24px;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  font-weight: 600;
  margin-top: 20px;
}

button:hover {
  background: var(--crow-color-resolution-blue);
  transform: translateY(-2px);
  /* box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); */
}

p {
  color: rgba(255, 255, 255, 0.9);
  font-size: 1.1rem;
}
